{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "EntretienPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block Entretienplatform_body %}

    {% if advert.image is not null %}
        <p style="text-align:center"><img align="center" src="{{ advert.image.url }}" alt="{{ advert.image.alt }}"></p>
    {% endif %}

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  {% if not advert.categories.empty %}
    <p>
      Cette annonce est parue dans les catégories suivantes :
      {% for category in advert.categories %}
        {{ category.name }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% if listAdvertSkills|length > 0 %}
    <div>
      Cette annonce requiert les compétences suivantes :
      <ul>
        {% for advertSkill in listAdvertSkills %}
          <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
    
  <p>
    <a href="{{ path('Entretien_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('Entretien_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('Entretien_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
  
  <div>
  <h2><br/>Commentaires</h2>
  {{ form(form) }}
  {% if listComment|length > 0 %}
    {% for Comment in listComment %}
        <i>Par {{ Comment.Author }}, le {{ Comment.date|date('d/m/Y') }}</i>
        <div class="well">
            {{ Comment.Content }}
        </div>
        <p style="text-align:right"><a href="{{ path('Entretien_platform_view', {'id': advert.id, 'comment': Comment.id, 'type': 1}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
            Supprimer le commentaire
        </a></p>
    {% endfor %}
  {% endif %}
  </div>


{% endblock %}
